.container{
  
    .dev{
        li{
            width: 100%;
            line-height: 50px;
            margin-bottom: 10px;
            background-color: rgb(232, 226, 220);
            box-shadow: 0 0 3px gray;
        }
    }
}